<ion-content>
    <div class="mainContent">
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <div class="main-content">
                        <h2 class="title">board of director</h2>
                        <div class="sheikh-section">
                            <h1>
                                HH <br>
                                sheikh <br>
                                Mansour Bin <br>
                                Zayed <br>
                                Al Nahyan
                            </h1>
                            <p>
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
                            </p>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="8">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6" class="main-overview bg-dark">
                                <div class="for-padding">
                                    <h2 class="overview-name">Extablished in</h2>
                                    <ion-icon class="overview-icon" name="business"></ion-icon>
                                    <div class="overview-detail">
                                        <h1>1971</h1>
                                        <span>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</span>
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="6" class="main-overview bg-light">
                                <div class="for-padding">
                                    <h2 class="overview-name">capital</h2>
                                    <ion-icon class="overview-icon" name="copy"></ion-icon>
                                    <div class="overview-detail">
                                        <h1>AED <br> 61 Billion</h1>
                                        <span>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</span>
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="6" class="main-overview bg-light">
                                <div class="for-padding">
                                    <h2 class="overview-name">equity</h2>
                                    <ion-icon class="overview-icon" name="paper"></ion-icon>
                                    <div class="overview-detail">
                                        <h1>AED <br> 41.7 Billion</h1>
                                        <span>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</span>
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="6" class="main-overview bg-dark">
                                <div class="for-padding">
                                    <h2 class="overview-name">grants</h2>
                                    <ion-icon class="overview-icon" name="today"></ion-icon>
                                    <div class="overview-detail">
                                        <h1>AED <br> 2.71 Billion</h1>
                                        <span>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</span>
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="6" class="main-overview bg-dark">
                                <div class="for-padding">
                                    <h2 class="overview-name">grants</h2>
                                    <ion-icon class="overview-icon" name="airplane"></ion-icon>
                                    <div class="overview-detail">
                                        <h1>AED <br> 2.71 Billion</h1>
                                        <span>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</span>
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="6" class="main-overview bg-light">
                                <div class="for-padding">
                                    <h2 class="overview-name">equity</h2>
                                    <ion-icon class="overview-icon" name="bookmarks"></ion-icon>
                                    <div class="overview-detail">
                                        <h1>AED <br> 41.7 Billion</h1>
                                        <span>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</span>
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
