<ion-content>
  <div class="mainContent">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="geographical-section">
            <h1>
              the <br>
              geographical <br>
              distribution <br>
              of the <br>
              development <br>
              projects
            </h1>
            <a href="javascript:" class="view-interactive">view INTERACTIVE MAP</a>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <div class="countries-content bg-dark">
                  <img class="w-30" src="../../assets/images/worldwide.png" alt="">
                  <h1>Arab Countries</h1>
                  <span>315 No. of Projects<br> AED 55M Project's Value</span>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="countries-content bg-light">
                  <img class="w-30" src="../../assets/images/worldwide.png" alt="">
                  <h1>African Countries</h1>
                  <span>70 No. of Projects<br> AED 3.1M Project's Value</span>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="countries-content bg-light">
                  <img class="w-30" src="../../assets/images/worldwide.png" alt="">
                  <h1>Asian Countries</h1>
                  <span>58 No. of Projects<br> AED 3.8M Project's Value</span>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="countries-content bg-dark">
                  <img class="w-30" src="../../assets/images/worldwide.png" alt="">
                  <h1>Other Countries</h1>
                  <span>13 No. of Projects<br> AED 6.8M Project's Value</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
